# bash.sh configuration file example
#===================#
# backup.sh:        #
#       v1.1        #
#     ========      #
#      mariom       #
#===================#

#=============== Options ===============#
# * exclude - rdiff-backup exclude option - see rdiff-backup's man page
# * o_opt   - options to rdiff-backup	  - see rdiff-backup's man page
# * b_dir   - directory to backup
# * d_dir   - destination directory
# * log	    - place for logs, if unset - no logs will be saved
# * disc    - partition needed to mount to make backup
#=======================================#


exclude="/home/mario/.wine /home/mario/Torrents /home/mario/.games"
o_opt="--print-statistics"
b_dir="/home/"
d_dir="/media/backup/"
log="/root/.backup.log/"
disc="/dev/sdb1"
